/*-------------------------------------------------------mobile---------------------------------------------------------*/
@media (min-width: 0) and (max-width: 375px){
	.only{
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-3{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-sm-4{
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	.col-sm-5{
		flex: 0 0 41.6666%;
		max-width: 41.6666%;
	}
	.col-sm-6{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-sm-7{
		flex: 0 0 58.3333%;
		max-width: 58.3333%;
	}
	.col-sm-8{
		flex: 0 0 66.6666%;
		max-width: 66.6666%;
	}
	.web-inline{
		display: none;
	}
	.f-sm-col{
		flex-direction: column;
	}
	.f-sm-col-reverse{
		flex-direction: column-reverse;
	}
	.pr-i5-0{
		padding-right: 0;
	}
	h1{
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.019em;
		color: #000000;
	}
	.container{
		max-width: 310px;
	}
	.header-top{
		display: none;
	}
	.web-flex {
    display: none;
	}
	.web-block{
		display: none;
	}
	/*menu*/
	input.form-control.mr-sm-2.input-menu{
		width: 206px;
    	margin-left: 0;
	}
	.header-main form button{
		top: 40%;
		right: 5px;
	}
	a.logo span {
    display: none;
	}
	ul.ui-autocomplete {
    width: 206px !important;
    top: 36px !important;
    margin-top: 0;
	}
	.ui-corner-all{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.openbtn{
		padding: 0;
	}
	/*home*/
	.my-store{
		max-width: 70%;
		padding: 15px;
	}
	.header-sellersHome{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.home-seller{
		margin-left: 0;
		margin-right: 0;
	}
	.home-seller img{
		display: none;
	}
	ul.home-seller p{
		margin-left: 0;
	}
	ul.home-seller li{
		margin-right: 15px;
	}
	.header-sellersHome .row{
		margin-left: 0;
		margin-right: 0;
	}
	.header-sellersHome .primary-icon img{
		display: none;
	}
	.header-sellersHome .primary-icon p{
		margin-left: 0;
		text-align: center;
	}
	.body-home-seller{
		margin-left: 0;
		margin-right: 0;
	}
	.header-bottom{
		margin-bottom: 20px;
	}
	.custom-control.crile-1{
		margin-left: 0;
		padding: 0;
	}
	.right-edit{
		margin-bottom: 48px;
	}
	.sroll-bar{
		overflow: scroll;
	}
	.table-home-seller{
		width: 1160px;
	}
}
@media (min-width: 1000px) and (max-width: 1100px){
	.container{
	max-width: 960px;
	}
	input.form-control.mr-sm-2.input-menu{
	width: 300px;
	}
	.menu-main{
		margin-left: 20px;
	}
	ul.ui-autocomplete {
    width: 300px !important;
	}
}
@media (min-width: 375px) and (max-width: 576px){
	.only{
		padding-left: 0;
		padding-right: 0;
	}
	.col-sm-3{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-sm-4{
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	.col-sm-5{
		flex: 0 0 41.6666%;
		max-width: 41.6666%;
	}
	.col-sm-6{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-sm-7{
		flex: 0 0 58.3333%;
		max-width: 58.3333%;
	}
	.col-sm-8{
		flex: 0 0 66.6666%;
		max-width: 66.6666%;
	}
	.web-inline{
		display: none;
	}
	.f-sm-col{
		flex-direction: column;
	}
	.f-sm-col-reverse{
		flex-direction: column-reverse;
	}
	h1{
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.019em;
		color: #000000;
	}
	.container{
		max-width: 310px;
	}
	.header-top{
		display: none;
	}
	.web-flex {
    display: none;
	}
	.web-block{
		display: none;
	}
	/*menu*/
	input.form-control.mr-sm-2.input-menu{
		width: 206px;
    	margin-left: 0;
	}
	a.logo span {
    display: none;
	}
	ul.ui-autocomplete {
    width: 206px !important;
    top: 36px !important;
    margin-top: 0;
	}
	.ui-corner-all{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	/*home*/
	.my-store{
		max-width: 70%;
		padding: 15px;
	}
	.header-sellersHome{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.home-seller{
		margin-left: 0;
		margin-right: 0;
	}
	.home-seller img{
		display: none;
	}
	ul.home-seller p{
		margin-left: 0;
	}
	ul.home-seller li{
		margin-right: 15px;
	}
	.header-sellersHome .row{
		margin-left: 0;
		margin-right: 0;
	}
	.header-sellersHome .primary-icon img{
		display: none;
	}
	.header-sellersHome .primary-icon p{
		margin-left: 0;
		text-align: center;
	}
	.body-home-seller{
		margin-left: 0;
		margin-right: 0;
	}
	.header-bottom{
		margin-bottom: 20px;
	}
	.custom-control.crile-1{
		margin-left: 0;
		padding: 0;
	}
	.right-edit{
		margin-bottom: 48px;
	}
	.sroll-bar{
		overflow: scroll;
	}
	.table-home-seller{
		width: 1160px;
	}
}
@media (min-width: 1000px) and (max-width: 1100px){
	.container{
	max-width: 960px;
	}
	input.form-control.mr-sm-2.input-menu{
	width: 300px;
	}
	.menu-main{
		margin-left: 20px;
	}
	ul.ui-autocomplete {
    width: 300px !important;
	}

}
@media (min-width: 768px) and (max-width: 1000px){
	.tablet-hidden{
		display: none;
	}
	.container{
		max-width: 720px;
	}
	input.form-control.mr-sm-2.input-menu {
    width: 360px;
	}
	ul.ui-autocomplete {
    width: 360px !important;
	}
	a.closebtn{
		width: 24px;
		height: 24px;
	}
}